<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="dicoding:email" content="gracian408@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoneWolf Academy</title>
    <link rel="icon" href="../public/img/wolf.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <app-bar></app-bar>
    <main id="mainContent">
        <hero-element></hero-element>
        <logo-partner></logo-partner>
        <pilihan-pembelajaran></pilihan-pembelajaran>
        <pengalaman-pengguna></pengalaman-pengguna>
    </main>
    <footer-bar></footer-bar>
</body>
</html>